 .u-section-1 {
  background-image: none;
  min-height: 1193px;
}

.u-section-1 .u-image-1 {
  height: 689px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -383px 201px 0 calc(((100% - 1140px) / 2) + 200px);
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 366px auto 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 10px 56px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 9px 57px 11px 56px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 10px 57px 10px 56px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 10px 64px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px auto 60px;
  padding: 10px 65px 10px 64px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: -424px;
    margin-left: calc(((100% - 940px) / 2) + 200px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: 406px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 200px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 151px;
    margin-left: calc(((100% - 540px) / 2) + 150px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 95px;
    margin-left: calc(((100% - 340px) / 2) + 94px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: 425px;
  }
}